/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */
body{
    font-family: 'poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    width: 870px;
    background: #fff;
}
/* Top-Section */
.top-players{
    padding-left: 30px;
}
.top-tittle{
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
}
/* Top Blogs */
.blogs{
    margin-bottom: 100px;
}
/* Course */
.course{
    margin-bottom: 100px;
}
.fa-star{
    font-size: 8px;
    padding: 0px;
}
.fas, .far{
    color: #E76F51;
    padding: 5px;
}
.clock{
    background: #e43e19a6;
    border-radius:10px;
}